@import "imports/variables.css";

html {
  scroll-behavior: smooth;
  scroll-padding: 140px;
}

/*BODY*/

Body{
  background-color: var(--color-site-background);
  margin: 0;
}

h1 {
  font-size: 3,5vw;
  font-family: Vollkorn SC, Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 30px;
}
h2 {
  font-size: clamp(24px, 3vw, 36px);
  font-family: Cabin Sketch, Arial, Helvetica, sans-serif;
}
h3 {
  font-size: clamp(16px, 2vw, 24px);
  font-family: Indie Flower, Arial, Helvetica, sans-serif;
}
p {
  font-size: clamp(16px, 2vw, 20px);
  font-family: 'Lora', Arial, Helvetica, sans-serif;  
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

.hero-image img{
  width: 100%;
}

.image img {
  max-width: 100%;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 40px;
}

.textfield-purple, .textfield-grey, .textfield-dark-green {
  background-color: var(--color-light-pink);
  padding: 0px 20px;
  border: var(--border);
  margin: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textfield-grey {
  background-color: var(--color-light-grey);
}

.textfield-dark-green{
  background-color: var(--color-header-footer);
  color: #ffffff;
}

.image, .text {
  flex: 1;
  margin: 20px;
  max-width: 100%;
}

.image-and-text {
  display: flex;
  flex-direction: column;
  margin: 20px;
  flex: 1;
}

.image-and-text img {
  max-width: 100%;
}

.h2-center {
  text-align: center;
  padding: 20px;
}

.divider {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.divider img{
  padding: 20px 0px;
  max-width: 100%;
  margin: 20px;
}

.back-to-top-button{
  display: flex;
  justify-content: center;
  margin: 40px; 
  scroll-margin-top: 80px;
}

.center-text {
  text-align: center;
  margin: 40px;
}


/*HEADER*/

header {
  background-color: var(--color-header-footer);
  position: sticky;
  top: 0px;
  border: var(--border);
  }

.header-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav a, .exhibition-links a{
  padding: 30px;
  color: #000000;
  text-decoration: none;
  font-size: 24px;
  font-family: Cabin Sketch, Arial, Helvetica, sans-serif;
}

.hamburger-icon, #menu-checkbox {
  display: none;
}

.header-logo img{
  max-width: clamp(198px, 20vw, 312px);
  padding: 10px;
  margin-left: 20px;
}

/*FOOTER*/

footer {
  background-color: var(--color-header-footer);
  padding: 30px;
}

.footer-content {  
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-contact-icon {
  display: flex;
  align-items: center;
}

.footer-contact-icon img{
  width: 30px;
  height: 30px;
  padding-right: 5px;
}

.footer3 img{
  padding: 30px;
  max-height: clamp(40px, 4vw, 60px);
}

.copy {
  text-align: center;
}

.footer1 h2 {
  text-align: center;
}

/*HOME PAGE*/

.link-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin: 0px 20px;
}

.link {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link h2 {
  margin-bottom: 2px;
}

.link img {
  margin-bottom: 20px;
  border-radius: 10px;
  max-width: clamp(160px, 20vw, 300px);
}

.cta {
  background-color: var(--color-header-footer);
  border: var(--border);
  padding: 10px 30px;
  border-radius: 5px;
  text-decoration: none;
  color: #ffffff;
  font-size: clamp(16px, 2vw, 20px);
}


/*EXPLORE PAGE*/

.explore-row {
  display: flex;
  justify-content: center;
  gap: 40px;
  text-align: center;
}

.explore-row h2 {
  font-size: clamp(14px, 3vw, 36px);
}

.explore-row img {
  max-width: clamp(50px, 20vw, 450px);
  border: var(--border);
  border-radius: 90%;
}

.explore1, .explore2, .explore3 {
  margin: 10px;
}

.blue-background {
  background-color: var(--color-light-blue);
  padding: 30px 0px;
}

.img-and-text {
  text-align: center;
}

.img-and-text p{
  font-size: clamp(12px, 1vw, 16px);
  margin-top: 2px;
}

.img-and-text img, .iandt img {
  border-radius: 10px;
}

.text-container {
  display: flex;
  flex-direction: row;
}

.textbox {
  max-width: 50%;
  padding: 20px;
  display: flex;
  align-items: center;
}

.textbox p {
  max-width: 90%;
}

.iandt {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  gap: 20px;
  flex: 1;
}



/*EXHIBITION PAGE*/

.link-bar {
  background-color: var(--color-header-footer);
  padding: 20px;
}

.exhibition-links {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.dt{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dt h2{
  margin: 0px 0px 40px 0px;
}

.cost {
  min-height: 407px;
}

.evot {
  min-height: 360px;
}

.evot-icon {
  width: 120px;
  color: #ffffff;
}

.robt {
  min-height: 383px;
}















@media (max-width: 1115px){

/*Header*/
.header-nav a {
  padding: 12px;
  font-size: 22px;
} 

/*Footer*/
.footer2 img {
  max-width: 250px;
}
.footer3 img{
  padding: 10px;
}

/*Exhibition Site Extra*/

.exhibition-links a {
  padding: 30px 15px;
}


.cost {
  min-height: 260px;
}

.evot {
  min-height: 310px;
}

.robt {
  min-height: 290px;
}

}


@media (max-width: 900px) {

  /*HEADER*/
  .header-nav a{
  padding: 10px;
  font-size: 20px;
  }

  /*Exhibition Site Extra*/

.exhibition-links a {
  padding: 20px 10px;
  font-size: 20px;
}
}


  /*TABLET*/
@media (max-width: 810px) {

  html {
    scroll-padding: 90px;
  }

.container, .iandt, .text-container{
  flex-direction: column;
  gap: 20px;
}

  /*HEADER*/
nav{
  display: none;
}

#menu-checkbox:checked ~ nav {
  display: block;
}

header {
  position: relative;
  position: sticky;
  top: 0px;
}

.header-logo img{
  margin-left: 0px;
}

.header-nav {
  position: absolute;
  background: var(--color-light-grey);
  padding: 60px;
  top: 81px;
  left: 0px;
  border: var(--border);
}

.header-section {
  justify-content: center;
  position: sticky;
  top: 0px;
}

nav a {
  display: block;
}

.header-nav a {
  padding: 20px 0px;
  font-size: 36px;
}

.hamburger-icon {
  display: block;
  margin: 20px;
}

.header-logo {
  order: 1;
  margin-right: 40px;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

/*FOOTER*/
  .footer-content {  
    flex-direction: column;
  }

  .footer1 {
    order: 1;
    padding: 20px;
  }

  .footer3 {
    order: 2;
  }


/*MAIN PAGE*/

.link img {
  max-width: clamp(120px, 40vw, 240px);
}

.center-text {
  margin: 20px 40px;
}

.divider img {
  padding: 30px 0px;
  margin: 0px 20px;
}

.textbox {
  max-width: 100%;
  padding: 10px 20px;
}

/*EXPLORE PAGE*/
.textbox p {
  max-width: 100%;
}

.iandt {
  align-items: center;
}


/*Exhibition Page*/
.exhibition-links a {
  padding: 15px 10px;
  font-size: 20px;
}

.cost {
  min-height: 260px;
}

.evot {
  min-height: 220px;
}

.robt {
  min-height: 150px;
}


}




@media (max-width: 600px) { 

/*EXPLORE PAGE*/
.explore-row {
  gap: 10px;
}


}




/*MOBILE*/
  @media (max-width: 400px) {

.cta {
  padding: 7px 20px;
}

/*Explore Page Mobile*/
.explore-row {
  gap: 5px;
}

/*Exhibition Page Mobile*/
.exhibition-links {
  flex-direction: column;
  text-align: center;
}

  }