:root {
  --color-site-background: #F2F2F2;
  --color-light-blue: #A7BADE;
  --color-light-pink: #D1C8EF;
  --color-light-grey: #D9D9D9;
  --color-light-green: #BCEDBE;
  --color-header-footer: #215C69;
  --border: 1px solid #000;
  --color-white: #FFFFFF;
  --color-black: #000000;
  }