/*Visit Page*/

.location, .hours {
  min-height: 406.767px;
}

.location span {
  padding: 5px;
}

.visit-iandt {
  display: flex;
  flex-direction: row;
}

.visit-iandt h2 {
  text-align: center;
}

.location, .admission, .hours {
  display: flex;
  justify-content: flex-start;
}

.visit-cta {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 60px;
}