/*Visit Page*/

.location, .hours {
  min-height: 406.767px;
}

.location span {
  padding: 5px;
}

.visit-iandt {
  display: flex;
  flex-direction: row;
}

.visit-iandt h2 {
  text-align: center;
}

.location, .admission, .hours {
  display: flex;
  justify-content: flex-start;
}

.contact-form {
  background-color: var(--color-light-blue);
  border: var(--border);
  max-width: 780px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: auto;
  padding: 20px 0px;
}

.contact-form > * {
  flex: 1;
}

.fieldset {
  display: flex;
  flex-direction: column;
}

.form-input {
  display: flex;
  flex-direction: column;
  margin: 0px 10px 20px 0px;
  padding: 10px;
  align-self: center;
}

.fieldset label {
  align-self: center;
  font-family: Indie Flower;
}

input, textarea, select{
  border-radius: 5px;
  width: 75%;
  border: var(--border);
}

select {
  width: 80%;
}

textarea {
  height: 75%;
}

.form-cta{
  max-width: 300px;
}

.form-button {
  clear: both;
}

.form-button {
  display: flex;
  justify-content: center;
  padding: 10px;
  max-width: 100%;
}

.newsletter{
  width: 50px;
  height: 30px;
}